<center>

    <h2>

      <%= form_for @movie do |f|  %>

            <%= f.label :title %>
            <%= f.text_field :title %>
            <%= f.label :description %>
            <%= f.text_field :description %>
            <%= f.label :year_released %>
            <%= f.text_field :year_released %>
             <%= f.label :rating %>
            <%= f.text_field :rating %>
        <div>
            <%= f.submit %>
        </div>

      <% end %>

    <div>
        <p><%=link_to "RETURN TO HOME PAGE", root_path %></p>
    </div>

    </h2>

</center>
