<div>
    <center>

        <h1>Welcome to RetFlix!</h1>
        <h2>See our collection of movies below.</h2>
             <br></br>

        <h2>  <%= form_tag '/search',  method: :get do %>
          <%= label_tag 'q', "Search" %>
          <%= text_field_tag 'q' %>
          <%= submit_tag 'Search' %>
          <% end %>
        <br></br>
        Or,
<%= link_to " ADD A MOVIE", new_movie_path %> by clicking on the link here.
       </h2>
    </center>
</div>

<br></br>

<div>
<%= render 'movies' %>
</div>
