<div>
    <center>

        <h1>Welcome to RetFlix!</h1>
        <h2>See our collection of movies below.</h2>
             <br></br>

          <%= form_tag '/search',  method: :get do %>
          <%= label_tag 'q', "Search" %>
          <%= text_field_tag 'q' %>
          <%= submit_tag 'Search' %>
          <% end %>

    </center>
</div>

<br></br>

<div>
<%= render 'movies' %>
</div>
