<center>
    <h1>

      <div>
          ADD A MOVIE
      </div>

      <br></br>

      <div>
         <%= form_for @movies do |f|  %>
          <%= f.label :title %>
          <%= f.text_field :title %>
          <%= f.label :description %>
          <%= f.text_field :description %>
          <%= f.label :year_released %>
          <%= f.text_field :year_released %>
          <%= f.label :rating %>
          <%= f.text_field :rating %>
  <br></br>
          <%= f.submit %>
          <% end %>
      </div>

    <div>
          <p><%=link_to "RETURN TO HOME PAGE", root_path %></p>
    </div>

    </h1>
  </center>
