<center>
    <h1>

      <div>
          ADD A MOVIE
      </div>

    </h1>
</center>



<br></br>


<div>
    <center>


        <h2>
            <%= form_for @movie do |f|  %>
            <%= f.label :title %>
            <%= f.text_field :title %>
            <%= f.label :description %>
             <%= f.text_field :description %>
            <%= f.label :year_released %>
            <%= f.text_field :year_released %>
            <%= f.label :rating %>
            <%= f.text_field :rating %>
        </h2>

    </center>
</div>

      <br></br>

<div>
    <center>
          <%= f.submit %>
          <% end %>
    </center>
</div>


<div>
               <% if @movie.errors.any? do %>

      <h2>Movie could  not save due to the following errors:

                <ul>
                          <% @movie.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                            <% end %>
              </ul>

     </h2>

                      <% end %>
                  <% end %>
</div>

<center>
     <div>

           <h2><%=link_to "RETURN TO HOME PAGE", root_path %></h2>

      </div>
</center>
