<center>

    <div>
        <h1>ADD A MOVIE</h1>
    </div>

    <div>


         <%= form_for @movies do |f|  %>
         <h2>
          <%= f.label :title %>
          <%= f.text_field :title %>
          <%= f.label :description %>
          <%= f.text_field :description %>
          <%= f.label :year_released %>
          <%= f.text_field :year_released %>
      </h2>

      <h1><%= f.submit %></h1>
          <% end %>

    </div>

</center>

