<div>
    <center>
          <h1>This is what we found:</h1>
    </center>
</div>

<div>
            <% @stories.each do |story| %>
    <dl>
           <h2><dt><%= story.title %>:</dt></h2>
           <h3><dd><%= link_to  story.link, story.link %></dd></h3>
           <h3><dd>Upvotes: <%= story.upvotes %></dd></h3>
    </dl>
          <br></br>
</div>

          <% if story.title.empty? %>
          <center>
                  <h2><%= "There are no stories matching your search" %></h2>
          </center>

          <% end %>

          <% end %>


</div>

<center>
            <h2> <%= link_to "Homepage", root_path %> </h2>
</center>
