<div>

            <h2>"<%= @story.title %>"</h2>
            <h3> Link to article: <%= link_to @story.link %> </h3>
            <h3> Category: <%= @story.category %></h3>
            <h3> Upvotes:<%= @story.upvotes %></h3>
                <br></br>
<center>
            <h2><%= link_to  "RETURN TO HOMEPAGE", root_path %></h2>
</center>

</div>


<!-- Visitors can view a @stories's upvotes, category and link to more details by clicking on the title from the front page -->